{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>AmigosInvicibles.camelCase</h1>

<div class="example-wrapper">
						<a href="/sorteo/amigos">Crear Sorteos</a><br>
</div>
{% endblock %}
