{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% if app.user %}
<h1>AmigosInvicibles.camelCase</h1>
	
<div class="example-wrapper">
		<a href="/sorteo/amigos">Crear Sorteos</a>

		<h2>Notificaciones</h2>
		{% set countNoti = notificaciones|length %}
		{% if countNoti > 0 %}
			
			{% for noti in notificaciones %}
				<p>{{noti}}</p>
			{% endfor %}
			{% else %}
			<p style="color: red;">No hay Notificaciones.</p>
		{% endif %}
	<br><br>
		<h2>Tus sorteos pendientes</h2>
				{% set countSort = sorteosUsuario|length %}
		{% if countSort > 0 %}
			
			{% for sorts in sorteosUsuario %}
				<h4>Tu sorteo {{sorts.id}}</h4>
				<p>Con presupuesto {{sorts.presupuesto}}</p>
				<p> Y fecha {{sorts.fecha | date("Y-m-d H:i:s")}}</p>

			{% endfor %}
			{% else %}
			<p style="color: red;">No tienes sorteos.</p>
		{% endif %}

</div>
{% endif %}
{% endblock %}
