{% extends 'base.html.twig' %}

{% block title %}AmigoInvisible
{% endblock %}

{% block body %}
	<h1>Crear amigo invisible</h1>


	<form
		method="post" action="{{ path('app_amigos_new')}}">

		{# Campo del formulario para el checkbox #}
		<div style="border: 3px solid black; padding: 10px; width: fit-content;">
		<h1>Elige los participantes</h1>
			{% for user in users %}
					<label style="border: 3px solid black; margin: 10px;  margin-top: 5px;">
						<span>
							<input type="checkbox" name="mi_checkbox[]" value={{ user.id }} style="margin: 5px"/>
							<span style="margin: 5px">{{ user.username }}</span>
						</span>
					</label>
			{% endfor %}

            <br><br>
			<h1>Precio a gastar y fecha del sorteo</h1>
			<label for= "price"> Precio a gastar (en euros): </label>
			<input id = "price" type="number" step=".01" min="0.01" required name="price"><br/><br/>
			<label for= "date"> Fecha del amigo invisible (dd/mm/aaaa) : </label>
			<input id = "date" type="date" required name="date"><br/><br/>
			<button type="submit">Crear amigo invisible</button>
		</div>

		{# Botón de submit #}
	</form>

{% endblock %}
